<main class="index-cover padding-fifty">

  <div>
    <% @workouts.each do |workout| %>
    <h1>WORKOUT:  <%= link_to workout.workout.upcase, workout %></h1>
    <h3><%= workout.date.strftime("%A, %d %b %Y %l:%M %p") %></h3>


    <% end %>


  </div>


</main>
