<div class="container">
        <h1 class="title">
          Welcome to Workout Log!
        </h1>
        <h2 class="subtitle">
          Host your own workouts and share your results together.
        </h2>

         <p class="subtitle is-4">Ready to get in shape? <br />Start hosting your own workouts and exercises now.</p>
         <%= link_to "Let's do this", new_user_registration_path %>
</div>
