
  <main role="main" class="inner cover padding-fifty">
  <div class="hero-wrapper">
    <h1 class="cover-heading">Welcome to Workout Log!</h1>
    <h2 class="subtitle">
      Host your own workouts and share your results together.</h2>










<div class="row action-callout">

  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Ready to get in shape?</h5>
    <p class="card-text">Start hosting your own workouts and exercises now.</p>

    <button  type="button" class="btn btn-primary call-action-btn"><%= link_to "Let's do this", new_user_registration_path %> </button>


</div>
</div>


</div>


  </div>
  </main>
