/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .

*/

@import "bootstrap-sprockets";
@import "bootstrap";
.action-callout {
    margin-top: 50px;
    text-align: center !important;

    .card {
        border: 2px grey solid;
        padding: 10px;
        width: 20%;
        margin: 0px 40% !important;
        border-radius: 10px;
    }
}

.call-action-btn {
    color: white;
    font-size: 15px;
    font-weight: bold;
    a {
        color: white;
        text-decoration: none;
    }
}
.form-actions {
  padding: 0px;
  margin-top: 0px;
  background-color: transparent;
  border-top: none;
}
.container-home {
    width: 100% !important;
    min-height: 100vh;

}

.navbar {

    margin-bottom: 0px !important;
}
.navbar-default {
  background: #d0cec9 !important;

}
.padding-fifty {
    padding: 50px !important;
}
.authform {
  padding: 100px;
}

.btn {
    a {
        color: black;
    }
    input {
        color: white;
        background: transparent !important;
    }
}
